* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    font-size: inherit;
}
:root { scroll-behavior: smooth; }
body {
    font-size: 16px;
    padding: 0 2rem;
    color: #777;
}
section { 
    border-top: 1px solid #777;
    padding: 2rem 3rem;
}
section { background: #eee; }
nav { position: fixed; top: 0; right: calc((100% - 1280px) / 2); display: flex; justify-content: flex-end; gap: 2rem; padding: 2.5rem; }
main { max-width: 1280px;  margin: 0 auto; padding-bottom: 800px; }
a { text-decoration: none; color: rgb(34, 0, 0); }
a.act   { color: red; }
header > img { 
    width: 180px;
    height: auto;
 }
 header { background: #ddd; display: flex; justify-content: space-between; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h1, h2, h3, p, ul   { color: #666;}
h3 { margin-top: 2rem; }
p, ul { margin-top: 1rem; }
ul { list-style-position: inside; }

    .glass-object {
        border-radius: 25px;
        backdrop-filter: blur(18px);
        box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
        box-sizing: border-box;
        background-image: linear-gradient(45deg, rgba(32,152,255,0.6), rgba(172,50,249,0.6));
        mix-blend-mode: hard-light;
    }

@media only screen and (max-width: 1344px) {
    nav { right: 2rem; gap: 1.5rem; padding: 1.5rem; }
    
}
@media only screen and (max-width: 767px) {
    nav { flex-direction: column; }
}